UI_BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:8080
BOT_USER_PREFIX=demo.customer.
BOT_USER_NUMBER=1
BOT_PASSWORD=password
CONTENTION_USER_A=demo.customer.00001
CONTENTION_USER_B=demo.customer.00002
MANAGER_USERNAME=demo.manager
MANAGER_PASSWORD=password
ALLOW_REMOTE_BOT_TEST=false
K6_SCENARIO=browse
K6_BOT_USER_PREFIX=demo.customer.
K6_BOT_PASSWORD=password
ALLOW_REMOTE_LOAD=false
